body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  background-color: #1081FF;
  height: 6rem;
}

nav {
  background-color: #0FAFE8;
  height: 3rem;

}

section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main {
  background-color: #1DFFFF;
  flex-grow: 1;
}

aside {
  background-color: #0FE8AB;
  height: 3rem;
}

footer {
  background-color: #10FF78;
  height: 6rem;
}

@media (min-width: 49rem) {
  section {
    flex-direction: row;
    flex-grow: 1;
  }

  nav, aside {
    width: 3rem;
    height: auto;
  }
}